<html>
  <head>
    <div class='header' style='color:#fdddff'>
      <h1>Heading</h1>
      <p>Paragraph</p>
    </div>
  </head>
  <body style='background-color:#000020;'>
    <a href='/page'>Go to second page</a>
  </body>
</html>